$primary: #BA1C45;
.btn-primary {
    background-color: $primary !important;
    color: white;
}
.bg-primary{
    background-color: $primary !important;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.nav-pills {
    font-size: 1.2rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #BA1C45;
}