.<template>
  <div>
    <form class="formulary">
      <span class="legend"> {{className}} </span>
      <div v-for="(property, i) in dataProperties[className].properties" :key="className + 'property'+i" class="form-group">
        <h6>{{property.propertyName}}
        <input  type="checkbox" id="checkbox" v-model="property.confirmation" >
        </h6>
        <div v-if="property.rangeName == 'List'">
          <b-form-select v-model="property.value" :options="property.options"></b-form-select>
        </div>
        <div v-if="property.rangeName == 'string'">
          <input v-model="property.value" type="text" :class="property.propertyName" :id="property.propertyName">
        </div>
        <div v-if="property.rangeName == 'date'">
          <input v-model="property.value" type="text" :class="property.propertyName" :id="property.propertyName">
        </div>
        <div v-if="property.rangeName == 'nonNegativeInteger'">
          <input v-model="property.value" type="number" :class="property.propertyName" :id="property.propertyName">
           <b-button-group data-toggle="buttons" size="sm" :id="property.propertyName">
              <b-button @click="property.operator = '='" variant="outline-primary">=</b-button>
              <b-button @click="property.operator = '<'" variant="outline-primary">&lt;</b-button>
              <b-button @click="property.operator = '>'" variant="outline-primary">&gt;</b-button>
              <b-button @click="property.operator = '<='" variant="outline-primary">&lt;=</b-button>
              <b-button @click="property.operator = '>='" variant="outline-primary">&gt;=</b-button>
           </b-button-group>
        </div>
        <div v-if="property.rangeName == 'double'">
          <input v-model="property.value" type="number" step="0.01" :class="property.propertyName" :id="property.propertyName">
           <b-button-group data-toggle="buttons" size="sm" :id="property.propertyName">
              <b-button @click="property.operator = '='" variant="outline-primary">=</b-button>
              <b-button @click="property.operator = '<'" variant="outline-primary">&lt;</b-button>
              <b-button @click="property.operator = '>'" variant="outline-primary">&gt;</b-button>
              <b-button @click="property.operator = '<='" variant="outline-primary">&lt;=</b-button>
              <b-button @click="property.operator = '>='" variant="outline-primary">&gt;=</b-button>
           </b-button-group>
        </div>
        <div v-if="property.rangeName == 'real'">
         <input v-model="property.value" type="number" step="0.01" :class="property.propertyName" :id="property.propertyName">
           <b-button-group data-toggle="buttons" size="sm" :id="property.propertyName">
              <b-button @click="property.operator = '='" variant="outline-primary">=</b-button>
              <b-button @click="property.operator = '<'" variant="outline-primary">&lt;</b-button>
              <b-button @click="property.operator = '>'" variant="outline-primary">&gt;</b-button>
              <b-button @click="property.operator = '<='" variant="outline-primary">&lt;=</b-button>
              <b-button @click="property.operator = '>='" variant="outline-primary">&gt;=</b-button>
           </b-button-group>
        </div>
        <div v-if="property.rangeName == 'sizeMM'">
          <input v-model="property.value" type="text" :class="property.propertyName" :id="property.propertyName">
        </div>
        <div v-if="property.rangeName == 'boolean'">
          <input v-model="property.value" type="radio" :class="property.propertyName" :id="property.propertyName" value="True"> True
          <input v-model="property.value" type="radio" :class="property.propertyName" :id="property.propertyName" value="False"> False
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'formulary',
  props: ['dataProperties', 'currentClass'],
  mounted() {
    this.setData()
  },
  watch:{
    currentClass() {
      this.setData()
    }
  },
  computed:{
    className(){
      return this.currentClass.name
    }
  },
  methods:{
    setData(){     
      if(this.dataProperties[this.currentClass.name].properties){
        return
      }
      this.$http
      .get('http://localhost:8080/api/getDataType?clase='+ this.dataProperties[this.currentClass.name].ns).then(response => {
        this.info = response.body.results.bindings
        this.$set(this.dataProperties, this.currentClass.name, {'properties': []})
        var th = this
        
        this.info.forEach(element => {
          var name = element.range.value.split('#')[1]
          var ns = (element.range.value).replace("#","___")
          var options = []
          var property = {}
          if(element.optionList){
            options = element.optionList.value.split('||')
              property = {
              'property':element.property.value,
              'propertyName':element.property.value.split('#')[1],  
              'range':element.range.value,
              'rangeName':element.range.value.split('#')[1],
              'options': options,
              'value':null,
              'confirmation': false,
              'operator':'='
            }
          } else {
            property = {
              'property':element.property.value,
              'propertyName':element.property.value.split('#')[1],  
              'range':element.range.value,
              'rangeName':element.range.value.split('#')[1],
              'value':null,
              'confirmation': false,
              'operator':'='
            }
          }

          th.dataProperties[th.currentClass.name].properties.push(property)
        })
      })
      .catch(err => console.error(err));
    }
  },

}
</script>
<style scoped>
  .legend{
      width: 100%;
      padding: 0;
      margin-bottom: 50px;
      font-size: 30px;
      line-height: 50px;
      color: #948d8d;
      border: 0;
      text-decoration: underline;
  }

  h6 {
    font-size: 0.8rem;
    margin-bottom: 7px;
    margin-top: 25px;
}
</style>