<template>
  <div class="login">
    <form action class="form" @submit.prevent="authenticate">    
      <h5><img src="/src/assets/img/logo.png"/></h5>
      <label class="form-label" for="#username">Username:</label>
      <input v-model="username" class="form-input" type="text" id="username" required placeholder="username">
      <label class="form-label" for="#password">Password:</label>
      <input v-model="password" class="form-input" type="password" id="password" placeholder="Password">
      <input class="form-submit" type="submit" value="Login">
    </form>
  </div>
</template>

<script>

export default {
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    authenticate () {
    this.$http.post('http://localhost:8000/api-token-auth/', {
            username: this.username,
            password: this.password
          }).then(function(response){
            var token = response.data['token']
            document.cookie = 'token=' + token + ';path=/'
            this.$router.push({name: 'Main'})
  }, function(){
    alert('Credenciales incorrectas')
  });
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  padding: 2rem;
}
.title {
  text-align: center;
}
.form {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  min-width: 70px;
  max-width: 100%;
  background: rgba(107, 144, 171, 0.9);
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0 4px 10px 4px rgba(107, 144, 171, 0.9);
  margin-top: 100px;
}
.form-label {
  margin-top: 2rem;
  color: white;
  margin-bottom: 0.5rem;
  &:first-of-type {
    margin-top: 0rem;
  }
}
.form-input {
  padding: 10px 15px;
  background: none;
  background-color: white;
  border: 1px solid white;
  border-radius: 300px;
  color: black;
  &:focus {
    outline: 0;
    border-color: #0da32d;
  }
}
.form-submit {
  background: #326b8a;
  border: none;
  color: white;
  margin-top: 3rem;
  padding: 1rem 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.2s;
  &:hover {
    background: #094669;
  }  
}

h5 {
    margin-bottom: 25px;
    align-self: center;
}
</style>