<template>
  <b-container fluid>

  <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="http://localhost"><img src="/src/assets/img/logo.png"/></b-navbar-brand>

    <b-collapse id="navbar-toggle-collapse" is-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item href="#"> <i class="fa fa-database" @click="getQuerySaved()"></i></b-nav-item>
        <b-nav-item href="#" > <i class="fa fa-sign-out" @click="exit()"></i></b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
    <b-row>
        <b-col cols="4">
            <menunodo :node="currentStruct" @click="getChildren" :currentClass="currentClass" :firstClass="firstClass" ref="nodeparent"/>
        </b-col>
        <b-col cols="6">
            <formulary :dataProperties="dataProperties" :currentClass="currentClass"></formulary>
        </b-col> 
        <b-col cols="2">
          <a href="#" id="check" class="float" @click="modalShow = !modalShow"> 
            <i class="fa fa-search"></i>
          </a> 
          <a href="#" id="send" class="send" @click="sendQueryGenerated()"> 
            <i class="fa fa-paper-plane"></i>
          </a>          
        </b-col>    
      </b-row>

      <b-modal size="xl" ok-only v-model="modalShow">
        <template slot="modal-header">
          <b-col cols="8">
            <h5>Query SPARQL</h5>
          </b-col>  
          <b-col cols="3">
            <b-form-input placeholder="Name of query..." v-model="querySaved['name']" type="text"></b-form-input>
          </b-col>
          <i class="fa fa-floppy-o" @click="saveQuery()"></i>
        </template>
        <p style="white-space: pre-wrap;">{{generateQuery()}}</p>
      </b-modal>

      <b-modal size="xl" ok-only v-model="modalShowQuerySaved" :title="querySaved.name">
        <p style="white-space: pre-wrap;">{{querySaved.query}}</p>
      </b-modal>

      <b-modal size="xl" ok-only v-model="modalResult" title="Result">
        <b-table sticky-header responsive :items="items" class="scroll"></b-table>
      </b-modal>

      <b-modal size="xl" ok-only v-model="modalAddQuery" title="Add new Query" @ok="addNewQuery">
          <b-container fluid>
            <b-row class="my-1">
              <b-col sm="2">
                <label for="input-small">Name of Query:</label>
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="querySaved['name']" id="input-small" placeholder="Name...."></b-form-input>
              </b-col>
            </b-row>

            <b-row class="my-1">
              <b-col sm="2">
                <label for="input-default">Query:</label>
              </b-col>
              <b-col sm="10">
                <b-form-textarea size="lg" v-model="querySaved['query']" id="input-default" placeholder="Query..."></b-form-textarea>
              </b-col>
            </b-row>
          </b-container>
      </b-modal>

      <b-modal size="lg" ok-only v-model="modalQueries">
        <template slot="modal-header">
          <b-col cols="8">
            <h5>Queries Saved</h5>
          </b-col>  
          <b-col cols="3">
            
          </b-col>
          <b-col cols="1">
            <i class="fa fa-plus" @click="modalAddQuery = !modalAddQuery"></i>            
          </b-col>
        </template>


        <b-table sticky-header :items="queriesSaved" :fields="fields">
          <template slot="show query" slot-scope="data">
            <b-navbar-nav class="ml-auto">
              <b-nav-item href="#"> <i class="fa fa-search-plus" @click="showQuerySaved(data.item)"></i></b-nav-item>
            </b-navbar-nav>
          </template>
          <template slot="delete" slot-scope="data">
            <b-navbar-nav class="ml-auto">
              <b-nav-item href="#"> <i class="fa fa-trash-o" @click="deleteQuerySaved(data.item)"></i></b-nav-item>
            </b-navbar-nav>
          </template>
          <template slot="run" slot-scope="data">
            <b-navbar-nav class="ml-auto">
              <b-nav-item href="#"> <i class="fa fa-check-circle" @click="sendQuerySaved(data.item.query)"></i></b-nav-item>
            </b-navbar-nav>
          </template>
        </b-table>
      </b-modal>
  </b-container>  
</template>

<script>
import menunodo from './Menu.vue';
import formulary from './Formulary.vue';

export default {
  name: 'MainForm',
  components: {'menunodo': menunodo, 'formulary':formulary},
  mounted() {
    this.getFirstClass()
  },
  data: function() {
    return {
      modalShow: false,
      modalShowQuerySaved: false,
      modalResult: false,
      modalQueries: false,
      modalAddQuery: false,

      querySaved: {'name':'', 'query': ''},
      dataProperties: {},
      currentStruct:{'name':'', 'children':[], 'ns': ''},
      currentClass: {'name':''},
      parentClass: '',
      items: [],
      queriesSaved: [],
      fields: 
      [
        { key: 'name', sortable: true },
        'show query',
        'delete',
        'run'
      ],
      firstClass: null,
    }
  },
  methods:{

    addNewQuery()
    {
      this.$http.post('http://127.0.0.1:8000/backendApp/querysaved/', 
        this.querySaved
      ).then(function(response)
        {
          alert('La query ha sido guardada correctamente')
          this.querySaved['name'] = ''
          this.querySaved['query'] = ''
        }, 
        function(){
          alert('Error en el guardado de la query!')
          this.querySaved['name'] = ''
          this.querySaved['query'] = ''
        });
    },

    saveQuery(name)
    {
      this.querySaved['query'] = this.generateQuery()
      this.$http.post('http://127.0.0.1:8000/backendApp/querysaved/', 
        this.querySaved
      ).then(function(response)
        {
          alert('La query ha sido guardada correctamente')
          this.querySaved['name'] = ''
          this.querySaved['query'] = ''
        }, 
        function(){
          alert('Error en el guardado de la query!')
          this.querySaved['name'] = ''
          this.querySaved['query'] = ''
        });
    },

    showQuerySaved(query_received)
    {
      this.querySaved['name'] = query_received.name
      this.querySaved['query'] = query_received.query
      this.modalShowQuerySaved = true
    },

    getQuerySaved()
    {
      this.modalQueries = true
      this.$http.get('http://127.0.0.1:8000/backendApp/querysaved').then(response => 
      {
        this.queriesSaved = response.body.results;
      })
    },

    deleteQuerySaved(query_toDeleted)
    {
      let url = 'http://127.0.0.1:8000/backendApp/querysaved/' + query_toDeleted.pk + '/'
      this.$http.delete(url).then(function(response)
          {
            this.modalQueries = false
            this.getQuerySaved()
          })
    },

    exit()
    {
      document.cookie = 'token=; expires=Thu, 01 Jan 1970 00:00:01 GMT; path=/'
      document.location.replace('/login')
    },

    getFirstClass()
    {
      this.$http.get('http://localhost:8080/api/returnFirstClass').then(response => {
        var info = response.body;

        this.currentStruct['name'] = info.clase
        this.currentStruct['ns'] = info.ns.replace("#","___")
        this.currentClass['name'] = info.clase
        this.firstClass = info.clase
        this.getChildren(this.currentStruct)
      })
    },

    sendQueryGenerated(){
      this.modalResult = true;
      this.$http.post('http://localhost:8080/api/getResultQuery', {
            query: this.generateQuery()
         }).then(function(response){
            let tempItems = response.body.results.bindings
            this.items = tempItems.map(function(item){
              let keys = Object.keys(item)

              for(let i in keys){
                let key = keys[i]
                if((item[key]['value']).includes('#'))
                  item[key] = item[key]['value'].split('#')[1]
                else  
                  item[key] = item[key]['value'] 
              }
              return item
            })
            this.modalResult = true; 
         }, function(){
            alert('Error de conexión con StarDog!')
         });
    },

    sendQuerySaved(query_received)
    {
            this.modalResult = true;
      this.$http.post('http://localhost:8080/api/getResultQuery', {
            query: query_received
         }).then(function(response){
            let tempItems = response.body.results.bindings
            this.items = tempItems.map(function(item){
              let keys = Object.keys(item)

              for(let i in keys){
                let key = keys[i]
                if((item[key]['value']).includes('#'))
                  item[key] = item[key]['value'].split('#')[1]
                else  
                  item[key] = item[key]['value'] 
              }
              return item
            })
            this.modalResult = true; 
         }, function(){
            alert('Error de conexión con StarDog!')
         });
    },

    getChildren(node){
      this.$http.get('http://localhost:8080/api/getObjectProperty?clase='+ node.ns).then(response => {
        var info = response.body.results.bindings;
        node.children = []; 
        
        info.forEach(element => {
          var name = element.range.value.split('#')[1]
          var ns = (element.range.value).replace("#","___")
          var child = {
            'parent': node.name,
            'name': name,
            'ns': ns,
            'children':[],
            'confirmation':false,
            'relationProperty':{
              'property':element.property.value,
              'propertyName':element.property.value.split('#')[1],  
              'range':element.range.value
            }
          }
          node.children.push(child);
        })
      })
      this.currentClass = node
      if(!this.dataProperties[node.name]){
        this.$set(this.dataProperties, node.name, {'ns': node.ns})
      } 
    },
    generateQuery(){
      //TO DO     
      var selectedClasses = this.getListConfirmedClass()
      var consulta = ""
      var filter = ""
      var attributes = null
      var select = "SELECT " 

      for(var i = 0; i < selectedClasses.length; i++)
      {
        consulta = consulta.concat("\n\t")
        
        if(i!=0)
        {
          consulta = consulta.concat("?"+selectedClasses[i].parent + " " + "<" + selectedClasses[i].relationProperty.property + ">" + " " + "?"+selectedClasses[i].name + ".")
        }
        else
        {
          consulta = consulta.concat("?"+selectedClasses[i].name + " a " + "<" + selectedClasses[i].ns.replace("___","#") + ">.")
        }
        
        if(this.dataProperties[selectedClasses[i].name].properties.length)
        {
            select = select.concat(" ?" + selectedClasses[i].name) 
            attributes = this.dataProperties[selectedClasses[i].name].properties
            for(var j = 0; j < attributes.length ; j++)
            {
              if(attributes[j].confirmation){
              select = select.concat(" ?"+attributes[j].propertyName)  
              consulta = consulta.concat("\n\t\t\t")
              consulta = consulta.concat("?"+selectedClasses[i].name + " " + "<" + attributes[j].property + ">" + " " + "?"+attributes[j].propertyName + ".")
              if(attributes[j].value != null)
              {
                filter = filter.concat("\n\t")
                if(attributes[j].rangeName == 'List' || attributes[j].rangeName == 'string' || attributes[j].rangeName == 'date' || attributes[j].rangeName == 'sizeMM')
                {
                  filter = filter.concat("FILTER (" + "?"+attributes[j].propertyName + " = '" + attributes[j].value + "')")
                }
                else
                {
                  filter = filter.concat("FILTER (" + "?"+attributes[j].propertyName + " " + attributes[j].operator + " " + attributes[j].value + ")")
                }
              }
            }
          }
        }
      }
      
      var ns ="PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>" + "\n" + "PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>" + "\n" + "PREFIX owl: <http://www.w3.org/2002/07/owl#> " + "\n" + "PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>"
      
      var query = ns + "\n\n" + select + "\nWHERE \n{" + consulta +  "\n" + filter + "\n}"
      return query
    },
    getListConfirmedClass(){
      var children = []
      var getConfirmedClass = function(node) {
        for(let i=0;i<node.children.length; i++){
          let child = getConfirmedClass(node.children[i])
          if(child){children.push(child)}
        }
        if(node.confirmation){ children.push(node)}
        return null
      };
      getConfirmedClass(this.currentStruct)
      return children.reverse()
    }
  }
}
</script>
<style scoped>
*{padding:0;margin:0;}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:110px;
	right:40px;
	background-color:rgb(194, 197, 37);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.fa-search{
	font-size:24px;
	margin-top:18px;
}

.float:hover{
	background-color:rgb(148, 151, 41);
}

.send{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#06C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.fa-search{
	font-size:24px;
	margin-top:18px;
}

.fa-paper-plane{
	font-size:24px;
	margin-top:18px;
}

.fa-sign-out{
	font-size:40px;
	margin-top:5px;
  color:#FFF;
}

.fa-sign-out:hover{
	color:rgb(255, 44, 16);
}

.fa-database{
	font-size:40px;
	margin-top:5px;
  color:#FFF;
}

.fa-database:hover{
	color:rgb(128, 118, 118);
}

.fa-floppy-o:hover{
  color:black;
}

.fa-floppy-o{
	font-size:40px;
  color:#06C;
}

.fa-plus:hover{
  color:rgb(11, 155, 11);
}

.fa-plus{
	font-size:40px;
  color:#06C;
}

.fa-search-plus:hover{
	color:rgb(7, 1, 1);
}

.fa-search-plus{
	font-size:25px;
  margin-left: 40px;
  color:#06C;
}


.fa-trash-o:hover{
	color:rgb(165, 7, 7);
}

.fa-trash-o{
	font-size:25px;
  margin-left: 15px;
  color:rgb(240, 78, 38);
}

.fa-check-circle:hover{
	color:rgb(13, 133, 29);
}

.fa-check-circle{
	font-size:25px;
  margin-left: 5px;
  color:rgb(0, 223, 37);
}

.send:hover{
	background-color:rgb(26, 37, 88);
}

.scroll {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 45rem;
}

.bg-info {
    background-image: linear-gradient(to bottom,#04507c,#24a5f0)!important;
    height: 70px;
    margin-top:18px;
    margin-bottom:18px;
    border: outset;
}

.navbar-dark .navbar-brand {
    color: #fff;
    margin-left: 1%;
}
</style>