<template>
  <div>
    <li class="pointer"> 
      <span v-if="node.relationProperty" @click="$emit('click', node)" :class="{open: isClicked}" v-b-tooltip.hover :title="node.relationProperty.propertyName"> {{ node.name }}</span>
      <span v-else :class="{open: isClicked}" @click="$emit('click', node)">{{node.name}}</span>
      <input  type="checkbox" id="checkbox" v-model="node.confirmation" v-show="node.confirmation" onclick="return false;">
      <ul  v-if="node.children && node.children.length">
        <menunodo v-for="(child, i) in node.children" 
          :node="child" 
          :key="'child' + node.name + child.name + i" 
          @click="$emit('click', $event)" 
          :currentClass="currentClass"
          :firstClass="firstClass"
          ></menunodo>
      </ul>
  </li>
      <a href="#" class="cancel" id="cancel" @click="setCancelledClass(node)" v-if="currentClass.name == firstClass && node.confirmation"> 
        <i class="fa fa-trash"></i> 
      </a>      
      <a href="#" class="cancel" id="cancel" @click="setCancelledClass(node)" v-else-if="node.relationProperty != null && node.confirmation && currentClass.relationProperty.propertyName == node.relationProperty.propertyName && currentClass.name == node.name"> 
        <i class="fa fa-trash"></i> 
      </a>
      <a href="#" class="valid" id="valid" @click="setConfirmedClass(node)" v-if="currentClass.name == firstClass && !node.confirmation"> 
        <i class="fa fa-check"></i> 
      </a>      
      <a href="#" class="valid" id="valid" @click="setConfirmedClass(node)" v-else-if="node.relationProperty != null && !node.confirmation && currentClass.relationProperty.propertyName == node.relationProperty.propertyName && currentClass.name == node.name" > 
        <i class="fa fa-check"></i> 
      </a>
  </div>
</template>

<script>
export default {
  name: 'menunodo',
  props: ['node', 'currentClass', 'firstClass'],
  data: function() {
    return {
      isClicked:false
    }
  },

   methods:{
     setConfirmedClass(node){
        this.$set(node, 'confirmation', true)
     },

     setCancelledClass(node){
        this.$set(node, 'confirmation', false)
     }
  }
}
</script>
<style scoped>
.pointer {
  cursor: pointer;
}

.open{
  font-style: italic;
  text-decoration: underline;
  color: blueviolet
}

.valid{
	position:fixed;
	width:60px;
	height:60px;
	bottom:180px;
	right:40px;
	background-color:rgb(13, 153, 76);
	color:#FFF;
	border-radius:50px;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;
}

.cancel{
	position:fixed;
	width:60px;
	height:60px;
	bottom:180px;
	right:40px;
	background-color:rgb(211, 20, 30);
	color:#FFF;
	border-radius:50px;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;
}

.fa-check{
	font-size:24px;
	margin-top:18px;
}

.valid:hover{
	background-color:rgb(3, 59, 15);
}

.cancel:hover{
	background-color:rgb(99, 22, 22);
}

.fa-trash{
	font-size:24px;
	margin-top:18px;
}


</style>