$copyright-color:rgba(0,0,0,.2);
.footer-copyright {
  overflow: hidden;
  background-color: $copyright-color;
  color: rgba(255,255,255,.6);
  height:2.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  max-height: 22rem;
  line-height: 29px;
}

.link-footer{
  color:black;
  &:hover{
    color:#919BA8;
    text-decoration: none;
  }
}
