<template>
  <div id="app">
      <b-container fluid class="main-page mt-3">
        <transition name="slide-fade" mode="out-in">
          <router-view></router-view>
        </transition>
      </b-container>
  </div>
</template>

<script>

export default {
  name: 'app',
  components: {

  }
}
</script>