$footer-color:#b2bcd0;
html {
  position: relative;
  min-height: calc(100vh);
  max-width: calc(100vw -10%);
}

body, a {
  font-family:Verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  text-align: center;
}
.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.gray-light {
  background-color: $footer-color!important;
}

.font-small {
  font-size: .9rem;
}

.row-flex {
  display:flow-root;
}

a {
  color: #BA1C45;
  &:hover{
    color:black;
  }
}

.main-page{
  margin-bottom: 22rem;
}

.unordered {
  list-style: none;
}
h4{
  font-size: 2rem;
}
.list-group-item.active{
    background-color: #BA1C45;
    border-color:black;
}

h4{
  font-size: 1.5rem;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  text-align:center;
  font-size: 1.6rem;
}

body, a {
  font-size: 0.9rem;
}

.vgs__container {
  bottom: 200px;
}